$colChange:'#';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: col 9s infinite;
    animation-fill-mode: forwards;
}

@keyframes col {
    0% {
        background: forestgreen;
    }
    10% {
        background: cornflowerblue;
    }
    20% {
        background: darkseagreen;
    }
    30% {
        background: deepskyblue;
    }
    40% {
        background: hotpink;
    }
    50% {
        background: indigo;
    }
    60% {
        background: darkorange;
    }
    70% {
        background: royalblue;
    }
    80% {
        background: thistle;
    }
    90% {
        background: peru;
    }
    100% {
        background: olive;
    }
}

.ball {
    width: 50px;
    height: 50px;
    background: rgb(158, 0, 0);
    border-radius: 50%;
    animation: jump 0.9s infinite;

   /* &:hover {
        animation: jump 0.9s ease;
    }*/
}


@keyframes jump {
0% {
    width: 50px;
    height: 50px;
}
    30% {
        height: 50px;
        width: 20px;
    }
    50% {
        height: 40px;
        width: 35px;
        transform: translateY(-400px);
    }
    75% {
        height: 50px;
        width: 20px;

    }
    100% {
        height: 20px;
        width: 50px;
        transform: translateY(0);
    }
}

.shad {
    background-color: rgba(8,8,8,0.1);
    height: 10px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 52%;
    z-index: -1;
    animation: grow 0.9s infinite;
}

@keyframes grow {
    30% {
        transform: scaleX(0.3);
    }
    50% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1.1);
    }
}